<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
    <title>홈 화면</title>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.min.css">
    
    <style>
        body{padding-top:80px;}
        
        @font-face{
            font-family:'Nanum Gothic'; font-style:normal; font-weight:400;;
            src: url('../public/NanumGothic-Regular.eot');
            src:local('NanumGothic'),
               url('../public/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
                url('../public/NanumGothic-Regular.woff2') format('woff2'),
                url('../public/NanumGothic-Regular.woff') format('woff'),
                url('../public/NanumGothic-Regular.ttf') format('truetype');
        }
    
        h1, p,a{font-family:'Nanum Gothic'}
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-shoppin-cart"></span>채팅프로그램</h1>
            <br>
            <br>
            <a href="/public/client03.html" class="btn btn-default">
                <span class="fa fa-user"></span>일대일채팅하기
            </a>
            <a href="/public/chat05.html" class="btn btn-default">
                <span class="fa fa-user"></span>그룹채팅하기
            </a>
        </div>
        
    </div>
   
</body>
</html>